<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="stylesheet" href="../public/css/responsive.css">
    <link rel="icon" href="../public/assets/img.jpeg">
    <title>Spaceman | Designs</title>

</head>
<body>
    <nav class="navbar background h-nav-resp"> 
        <ul class="nav-list v-class-resp">
            <div class="logo"><img src="../public/assets/img.jpeg" alt="logo"></div>
            <li><a href="#home">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#services">Services</a></li>
            <li><a href="#contact">Contact Us</a></li>
        </ul>
        <div class="rightNav v-class-resp">
            <input type="text" name="search" id="search">
            <button class="btn btn-sm">Search</button>
        </div>
        <div class="burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </nav>
    <section class="background firstSection" id="home">
        <div class="box-main">
            <div class="firstHalf">
                <p class="text-big">The future of real estate is here..</p>
                <div class="text-small">The go to solution of real estate is what we known for</div>
              <div class="buttons">
                <button class="btn">Subscribe</button>
                <button class="btn">Watch Video</button>
              </div>
            </div>

            <div class="secondHalf">
                <img src="../public/assets/img.jpeg">
            </div>
        </div>
    </section>
    <section class="section " id="about">
        <div class="paras">
         <p class="sectionTag text-big">the end of flat/room hunting is over</p>
         <p class="sectionSubTag text-small">Lorem, ipsum dolor 
            sit amet consectetur adipisicing elit. Corrupti impedit reprehenderit sed minus, quae inventore, provident enim fugiat, voluptatibus et maxime explicabo! Sint, expedita! Ratione, explicabo sapiente. 
            Alias ea beatae eos natus repellendus, voluptatem nihil sed quos distinctio. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga explicabo rem, voluptatibus similique rerum sed harum earum doloribus cum libero pariatur tempore ullam placeat quas nobis, eligendi quo quisquam! Officiis.
            Expedita cum eaque esse in nobis odio facilis beatae modi quo dicta pariatur quam molestiae commodi autem magnam, ipsa voluptatum, corrupti voluptate nam cupiditate quidem! Tempora molestias sunt facilis vero?
            Deserunt accusantium harum impedit maiores voluptatum consectetur eius et laboriosam earum! Quaerat eius maxime a quibusdam. Facere vel cumque tempore? Aliquam quos mollitia sapiente at nobis ipsam necessitatibus. Ipsum, quos.
            </p>
        </div>
            <div class="thumbnail">
            <img src="../public/assets/Apple-iPhone-14-Pro-iPhone-14-Pro-Max-hero-220907.jpg.og.jpg" alt="laptop image" class="imgFluid">
         </div>
        </section>
        <section class="section section-left">
            <div class="paras">
             <p class="sectionTag text-big">the end of flat/room hunting is over</p>
             <p class="sectionSubTag text-small">Lorem, ipsum dolor 
                sit amet consectetur adipisicing elit. Corrupti impedit reprehenderit sed minus, quae inventore, provident enim fugiat, voluptatibus et maxime explicabo! Sint, expedita! Ratione, explicabo sapiente. 
                Alias ea beatae eos natus repellendus, voluptatem nihil sed quos distinctio. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga explicabo rem, voluptatibus similique rerum sed harum earum doloribus cum libero pariatur tempore ullam placeat quas nobis, eligendi quo quisquam! Officiis.
                Expedita cum eaque esse in nobis odio facilis beatae modi quo dicta pariatur quam molestiae commodi autem magnam, ipsa voluptatum, corrupti voluptate nam cupiditate quidem! Tempora molestias sunt facilis vero?
                Deserunt accusantium harum impedit maiores voluptatum consectetur eius et laboriosam earum! Quaerat eius maxime a quibusdam. Facere vel cumque tempore? Aliquam quos mollitia sapiente at nobis ipsam necessitatibus. Ipsum, quos.
                </p>
            </div>
                <div class="thumbnail">
                <img src="../public/assets/air-code-coding-html.jpg" alt="laptop image" class="imgFluid">
             </div>
            </section>
            <section class="section" id="services">
                <div class="paras">
                 <p class="sectionTag text-big">the end of flat/room hunting is over</p>
                 <p class="sectionSubTag text-small">Lorem, ipsum dolor 
                    sit amet consectetur adipisicing elit. Corrupti impedit reprehenderit sed minus, quae inventore, provident enim fugiat, voluptatibus et maxime explicabo! Sint, expedita! Ratione, explicabo sapiente. 
                    Alias ea beatae eos natus repellendus, voluptatem nihil sed quos distinctio. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga explicabo rem, voluptatibus similique rerum sed harum earum doloribus cum libero pariatur tempore ullam placeat quas nobis, eligendi quo quisquam! Officiis.
                    Expedita cum eaque esse in nobis odio facilis beatae modi quo dicta pariatur quam molestiae commodi autem magnam, ipsa voluptatum, corrupti voluptate nam cupiditate quidem! Tempora molestias sunt facilis vero?
                    Deserunt accusantium harum impedit maiores voluptatum consectetur eius et laboriosam earum! Quaerat eius maxime a quibusdam. Facere vel cumque tempore? Aliquam quos mollitia sapiente at nobis ipsam necessitatibus. Ipsum, quos.
                    </p>
                </div>
                    <div class="thumbnail">
                    <img src="../public/assets/desktop-wallpaper-programming-javascript-javascript-code.jpg" alt="laptop image" class="imgFluid">
                 </div>
                </section>
       
        <section class="contact" id="contact">
            <h1 class="text-center">Contact Us</h1>
            <div class="form">
                <input class="form-input" type="text" name="name" id="name" placeholder="Enter Your Name">
                <input class="form-input" type="number" name="phone" id="phone" placeholder="Enter Your Number">
                <input class="form-input" type="email" name="email" id="email" placeholder="Enter Your Email">
                <textarea class="form-input" name="text" id="text" cols="30" rows="10" placeholder="Elaborate Your Concern"></textarea>
              <button class="btn btn-sm btn-dark">Submit</button>
            </div>
        </section>
        <footer class="background">
            <p class="text-footer">
                Copyright &copy; 2027 www.SpacemanDesigns - All Rights Reserved
            </p>
            
            </footer>
            <script src="../public/js/resp.js"></script>
            </body>
</html>